button
{
    color: white;
    background-color: blue;
    border: 3px solid red;
    border-radius: 4px;
    padding: 7px;
    margin-top: 25px;
    margin-left: 6px;
}
.container
{
    margin: 30px;
}
.form
{
    padding: 5px;
    margin-bottom: -20px;
}

input::placeholder{
    padding: 5px;
}
.container2
{
    background-color: rgb(5, 5, 238);
    color: white;
    display: flex;
    align-self: auto;
    flex: 100px;
}